In [1]:
import pandas as pd
from tqdm import tqdm
from glob import glob

In [6]:
l = glob("../output/baseline/GRU/**/**/pred_ave.csv")+glob("../output/baseline/**/**/**/pred_cv.csv")

In [9]:
for l in glob("../output/baseline/GRU/**/**/pred_ave.csv")+glob("../output/baseline/**/**/**/pred_cv.csv"):
    print(l)
    display(pd.read_csv(l).groupby("label").count())

../output/baseline/GRU/mean_old/result/pred_ave.csv

         id  source  text  pred
label
0      3018    3018  3018  3018
1       205     205   205   205

../output/baseline/GRU/attention/result/pred_ave.csv

         id  source  text  pred
label
0      2993    2993  2993  2993
1       230     230   230   230

../output/baseline/GRU/mean/result/pred_ave.csv

         id  source  text  pred
label
0      2991    2991  2991  2991
1       232     232   232   232

../output/baseline/GRU/min/result/pred_ave.csv

         id  source  text  pred
label
0      2989    2989  2989  2989
1       234     234   234   234

../output/baseline/GRU/max/result/pred_ave.csv

         id  source  text  pred
label
0      2987    2987  2987  2987
1       236     236   236   236

../output/baseline/GRU/None/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,2991,2991,2991,2991,2991,2991,2991,2991,2991
1,232,232,232,232,232,232,232,232,232

../output/baseline/None/attention/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,2999,2999,2999,2999,2999,2999,2999,2999,2999
1,224,224,224,224,224,224,224,224,224

../output/baseline/None/mean/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,2996,2996,2996,2996,2996,2996,2996,2996,2996
1,227,227,227,227,227,227,227,227,227

../output/baseline/None/min/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,2999,2999,2999,2999,2999,2999,2999,2999,2999
1,224,224,224,224,224,224,224,224,224

../output/baseline/None/max/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,2990,2990,2990,2990,2990,2990,2990,2990,2990
1,233,233,233,233,233,233,233,233,233

../output/baseline/None/None/result/pred_cv.csv

,id,source,text,pred_fold0,pred_fold1,pred_fold2,pred_fold3,pred_fold4,pred
label,,,,,,,,,
0,3008,3008,3008,3008,3008,3008,3008,3008,3008
1,215,215,215,215,215,215,215,215,215

In [4]:
test = pd.read_pickle("../output/baseline/GRU/None/result/result_twitter_pred.pkl")
test = test[~test["text"].duplicated()].reset_index(drop=True)
test.query("pred>=0.5")

,created_at,id,text,withheld,probs,label,pred
996,2022-06-17 16:11:15+00:00,1537830241195810817,チョンみんなみろ日本人男女0人が乱交パーティしてたらしいぞ外人だからなになにが悪いの,NaN,0.974486,1,0.814396
5936,2022-06-18 00:52:24+00:00,1537961392904761345,これねこんな理由で女達は高い金払わせられるクソふざけんなだわ女のことを男が決めつけたり管理し...,NaN,0.972175,1,0.787534
6148,2022-06-21 11:39:09+00:00,1539211316464095232,朝鮮人はレイプして無いなのにレイプされたって言う☺️国家民族特技嘘つき嘘つく嘘つきは朝鮮人の...,NaN,0.972112,1,0.999217
8900,2022-06-18 02:16:07+00:00,1537982460860186624,外国人による凶器の所持は事実上看過それを用いて凶行に及んでも極めて微罪対して日本人には自衛す...,NaN,0.971321,1,0.986542
10071,2022-06-21 11:57:43+00:00,1539215988922941443,やっぱ人間の本質は悪滅びろ,NaN,0.971041,1,0.801443
...,...,...,...,...,...,...,...
1596720,2022-06-18 22:26:09+00:00,1538286975723024384,gtrtこんな政治を選んでるのが日本人そのものなのでこの国の人間はマゾなのかバカなのかどっち...,NaN,0.064240,1,0.782759
1669329,2022-06-21 14:47:18+00:00,1539258665949347841,時は金なり時間に無頓着な人嫌い日本人は人の財布は盗まないが人の時間は平気で盗む,NaN,0.048895,1,0.930001
1701324,2022-06-19 04:37:13+00:00,1538380357716054016,ニュースまとめ悲報アジア人男性とかいうポリコレ最弱種族wwwwxニュース,NaN,0.043701,1,0.683046
1708574,2022-06-21 12:17:12+00:00,1539220892030337025,キモオタクってオタクが無くなったらキモしか残らないんだよね…,NaN,0.043635,1,0.646180
1794001,2022-06-19 07:16:58+00:00,1538420560124084226,韓国製品不買▼反日捏造非礼を繰り返す愚かな韓国朝鮮人に対して善良なる日本国民は怒りの意思表示...,NaN,0.033605,1,0.739280

In [6]:
test2 = pd.read_pickle("../output/baseline/GRU/mean_old/result/result_twitter_pred.pkl")
test2 = test2[~test2["text"].duplicated()].reset_index(drop=True)
test[["label2", "pred2"]] = test2[["label", "pred"]]
test2.query("pred>=0.5")

,created_at,id,text,withheld,probs,label,pred
996,2022-06-17 16:11:15+00:00,1537830241195810817,チョンみんなみろ日本人男女0人が乱交パーティしてたらしいぞ外人だからなになにが悪いの,NaN,0.974486,1,0.796536
5936,2022-06-18 00:52:24+00:00,1537961392904761345,これねこんな理由で女達は高い金払わせられるクソふざけんなだわ女のことを男が決めつけたり管理し...,NaN,0.972175,1,0.975100
6148,2022-06-21 11:39:09+00:00,1539211316464095232,朝鮮人はレイプして無いなのにレイプされたって言う☺️国家民族特技嘘つき嘘つく嘘つきは朝鮮人の...,NaN,0.972112,1,0.999563
6696,2022-06-20 06:21:21+00:00,1538768951593025536,これだけ迷惑してるんだからイエネコは絶滅させてこういうロボット猫を可愛がったらいいんだよ単三...,NaN,0.971935,1,0.549790
8900,2022-06-18 02:16:07+00:00,1537982460860186624,外国人による凶器の所持は事実上看過それを用いて凶行に及んでも極めて微罪対して日本人には自衛す...,NaN,0.971321,1,0.987616
...,...,...,...,...,...,...,...
1701324,2022-06-19 04:37:13+00:00,1538380357716054016,ニュースまとめ悲報アジア人男性とかいうポリコレ最弱種族wwwwxニュース,NaN,0.043701,1,0.759855
1708574,2022-06-21 12:17:12+00:00,1539220892030337025,キモオタクってオタクが無くなったらキモしか残らないんだよね…,NaN,0.043635,1,0.748286
1714189,2022-06-19 15:29:39+00:00,1538544547948470273,ホモはみんな皮被り…,NaN,0.043635,1,0.598377
1794001,2022-06-19 07:16:58+00:00,1538420560124084226,韓国製品不買▼反日捏造非礼を繰り返す愚かな韓国朝鮮人に対して善良なる日本国民は怒りの意思表示...,NaN,0.033605,1,0.815088
1796305,2022-06-17 07:53:35+00:00,1537704999282679808,狂気アジア人ニューヨークの地下鉄で黒人に羽交い絞めにされ殴られる…ほかラブライブスクフェス,NaN,0.033267,1,0.589800

In [23]:
test = test[test["text"].str.len() > 10]
test

,created_at,id,text,withheld,probs,label,pred,label2,pred2
2,2022-06-21 09:24:04+00:00,1539177321634365440,ケイゆきっぺは俺のものだからなユキ,NaN,0.976149,0,0.000110,0,0.000125
3,2022-06-21 04:52:31+00:00,1539108983818317824,私のがおばあちゃん笑きょよるひま,NaN,0.976075,0,0.000105,0,0.000096
5,2022-06-21 10:15:41+00:00,1539190311389642752,もしも推しがあなたの関係者だったらくに部活の後輩ちむ主治医ゆう隣人らこ遊び仲間さおり校長一番...,NaN,0.975964,0,0.000069,0,0.000129
6,2022-06-19 09:10:10+00:00,1538449047836426241,私の推しメンケイコツクヨミは最高だ,NaN,0.975907,0,0.000083,0,0.000081
7,2022-06-19 16:28:02+00:00,1538559240599912449,やー♡最近ま◯汁が出過ぎてヤバいw裏アカ男子とつながりたいn田中みな実アイコラ,NaN,0.975894,0,0.000093,0,0.000130
...,...,...,...,...,...,...,...,...,...
1819269,2022-06-17 14:11:44+00:00,1537800163829223424,コンビニにカレーもショートケーキもなかった…,NaN,0.028330,0,0.000133,0,0.000087
1819289,2022-06-16 18:02:01+00:00,1537495728679178240,ママーのママーパスタキッチンミートソース0gをamazonでチェックviaamazon,NaN,0.028201,0,0.000178,0,0.000179
1819293,2022-06-19 08:35:27+00:00,1538440311105458177,capマックパワーcopマックパワーfeがんばれーcapあー二人でやらなくていい,NaN,0.028177,0,0.000088,0,0.000094
1819298,2022-06-20 00:04:48+00:00,1538674189674377216,ファミマセブンミニストップでありますよヽ∇ﾉ,NaN,0.028153,0,0.000168,0,0.000115
1819302,2022-06-18 06:44:34+00:00,1538050018523107328,ありがとうございます…ゆっくり行きました…,NaN,0.028120,0,0.000104,0,0.000080

In [61]:
word = "日本，中国，ロシア，韓国，北朝鮮，中露，アメリカ"
test_pred1 = test.query("pred>0.23|pred2>0.23")
display(test_pred1[["created_at","id","text","pred","pred2"]])
test_pred1[["created_at","id","text","pred","pred2"]].sort_values("created_at").to_csv("twitter_data1.csv", encoding="utf-8-sig", index=None)

,created_at,id,text,pred,pred2
996,2022-06-17 16:11:15+00:00,1537830241195810817,チョンみんなみろ日本人男女0人が乱交パーティしてたらしいぞ外人だからなになにが悪いの,0.814396,0.796536
5936,2022-06-18 00:52:24+00:00,1537961392904761345,これねこんな理由で女達は高い金払わせられるクソふざけんなだわ女のことを男が決めつけたり管理し...,0.787534,0.975100
6148,2022-06-21 11:39:09+00:00,1539211316464095232,朝鮮人はレイプして無いなのにレイプされたって言う☺️国家民族特技嘘つき嘘つく嘘つきは朝鮮人の...,0.999217,0.999563
6696,2022-06-20 06:21:21+00:00,1538768951593025536,これだけ迷惑してるんだからイエネコは絶滅させてこういうロボット猫を可愛がったらいいんだよ単三...,0.389476,0.549790
7178,2022-06-16 19:52:04+00:00,1537523423651700736,変態って言われたいオタクとか死ねばいいのに,0.212654,0.257828
...,...,...,...,...,...
1759634,2022-06-21 13:59:39+00:00,1539246674421469184,なんで共学のくせに男絡みない女に人権くださいはぁ,0.210485,0.355070
1775712,2022-06-15 11:15:40+00:00,1537031079495733250,人は女に生まれない女になるのだボーヴォワール,0.293758,0.024838
1794001,2022-06-19 07:16:58+00:00,1538420560124084226,韓国製品不買▼反日捏造非礼を繰り返す愚かな韓国朝鮮人に対して善良なる日本国民は怒りの意思表示...,0.739280,0.815088
1794107,2022-06-20 16:46:37+00:00,1538926305097396224,コレコレ様の枠で時間を頂いている自覚が女には無いのかコレコレ,0.031451,0.450220
1796305,2022-06-17 07:53:35+00:00,1537704999282679808,狂気アジア人ニューヨークの地下鉄で黒人に羽交い絞めにされ殴られる…ほかラブライブスクフェス,0.452381,0.589800

In [55]:
test_pred1 = test.query("pred>0.4|pred2>0.4")
display(test_pred1[["created_at","id","text","pred","pred2"]])

,created_at,id,text,pred,pred2
996,2022-06-17 16:11:15+00:00,1537830241195810817,チョンみんなみろ日本人男女0人が乱交パーティしてたらしいぞ外人だからなになにが悪いの,0.814396,0.796536
5936,2022-06-18 00:52:24+00:00,1537961392904761345,これねこんな理由で女達は高い金払わせられるクソふざけんなだわ女のことを男が決めつけたり管理し...,0.787534,0.975100
6148,2022-06-21 11:39:09+00:00,1539211316464095232,朝鮮人はレイプして無いなのにレイプされたって言う☺️国家民族特技嘘つき嘘つく嘘つきは朝鮮人の...,0.999217,0.999563
6696,2022-06-20 06:21:21+00:00,1538768951593025536,これだけ迷惑してるんだからイエネコは絶滅させてこういうロボット猫を可愛がったらいいんだよ単三...,0.389476,0.549790
8900,2022-06-18 02:16:07+00:00,1537982460860186624,外国人による凶器の所持は事実上看過それを用いて凶行に及んでも極めて微罪対して日本人には自衛す...,0.986542,0.987616
...,...,...,...,...,...
1701324,2022-06-19 04:37:13+00:00,1538380357716054016,ニュースまとめ悲報アジア人男性とかいうポリコレ最弱種族wwwwxニュース,0.683046,0.759855
1708574,2022-06-21 12:17:12+00:00,1539220892030337025,キモオタクってオタクが無くなったらキモしか残らないんだよね…,0.646180,0.748286
1794001,2022-06-19 07:16:58+00:00,1538420560124084226,韓国製品不買▼反日捏造非礼を繰り返す愚かな韓国朝鮮人に対して善良なる日本国民は怒りの意思表示...,0.739280,0.815088
1794107,2022-06-20 16:46:37+00:00,1538926305097396224,コレコレ様の枠で時間を頂いている自覚が女には無いのかコレコレ,0.031451,0.450220
1796305,2022-06-17 07:53:35+00:00,1537704999282679808,狂気アジア人ニューヨークの地下鉄で黒人に羽交い絞めにされ殴られる…ほかラブライブスクフェス,0.452381,0.589800

In [51]:
test_pred3 = test.query("pred<0.1&pred2<0.1")
word = "アホ，うざい，くたばる，臭い，バカ，はげ，悪魔，\
鬼，キチガイ，殺し，消え去る，害，害悪，悲報，\
犯，欠ける，低能，爆発，爆ぜる，不味い，怪しい，\
腐る，裸，塵，屑，醜い，辞任，不愉快，尋常，やれやれ，\
軽視，地獄，亡者，情けない，年寄り，老害，土下座，\
括り，諸共，死人，死体，死骸，劣る，劣等，同類，\
同種，強奪，擦る，狂う，発狂，無恥，放棄，末路，欠陥，\
阿呆，死ね，消えろ，蛆虫，カス"
test_pred3 = test_pred3[test_pred3["text"].str.contains(word.replace("，","|"))]
display(test_pred3[["created_at","id","text","pred","pred2"]].sort_values("id"))
test_pred3[["created_at","id","text","pred","pred2"]].sort_values("id").to_csv("twitter_data3.csv", encoding="utf-8-sig", index=None)

,created_at,id,text,pred,pred2
320323,2022-06-15T04:37:07.000Z,1536930781095792641,虎りあじゅうばくはつしろーって言われたんだけどりあじゅうって何折ささあ……虎けど爆発しろって...,0.000076,0.000180
701988,2022-06-15 10:37:24+00:00,1537021449365786625,何で俺はこんなイライラしてるんやろ……と思ったけど校長がウンコを食んだ事実とウンコの味が分か...,0.000086,0.000281
681284,2022-06-15 10:37:29+00:00,1537021470333083649,違うよバカな国民がテレビを見てるから,0.000628,0.000475
1517666,2022-06-15 10:37:50+00:00,1537021558426071040,ランペバレンタインオンラインブース交換譲riku川村壱馬吉野北人長谷川慎求藤原樹長谷川慎背景...,0.000076,0.000199
457034,2022-06-15 10:37:50+00:00,1537021558426071046,猫ちゃんと一緒とかもうオタク好きすぎて発狂するやつやん推しがいたオタク全員san値チェック入...,0.000096,0.000139
...,...,...,...,...,...
124468,2022-06-21 15:31:13+00:00,1539269717944602630,ゆずゆゆずゆ日本人なんですけどなんでかイギリスで捨てられてサーカス団の団長さんに拾われて育て...,0.000145,0.000216
1458731,2022-06-21 15:31:23+00:00,1539269759866310657,交換／拡散希望agfジェネオン薄桜鬼缶バッジ◆譲◆土方平助風間×0◆求◆オトメイトくじa賞：...,0.000126,0.000325
1477271,2022-06-21 15:31:25+00:00,1539269768267825152,losteggお疲れ様でしたlostからlastへいつの間にか高難易度のゲームをらくらくクリ...,0.000084,0.000298
489470,2022-06-21 15:31:28+00:00,1539269780833652740,レオンティウスってぶっちゃけバカだよなｗｗ,0.000120,0.000102
386304,2022-06-21 15:31:28+00:00,1539269780838170625,アユミさんメッチャいい人なので今日だけたばこ吸っていいですよ悪魔の囁き🤣いえいえホントにいつ...,0.000080,0.000125

In [36]:
pd.concat([test_pred1, test_pred3.sample(5000-len(test_pred1))]).sort_values("created_at")

,created_at,id,text,withheld,probs,label,pred,label2,pred2
347286,2022-06-15 10:38:05+00:00,1537021621323841536,何度も何度も何度も何度も修正重ねて発狂しそうなんだけどこれ毎回やってる方々って聖人なのそれと...,NaN,0.884987,0,0.000107,0,0.000179
678331,2022-06-15 10:38:06+00:00,1537021625522003970,公式アカウントなのにアイコンでそこはかとなく怪しい笑,NaN,0.754675,0,0.000094,0,0.000098
345967,2022-06-15 10:41:44+00:00,1537022539897065472,命より金が大事な連中の言うこと聞いてたら国がなくなるわ移民反対在日の中国人は0万以下にしろ,NaN,0.884987,1,0.998147,1,0.999623
677101,2022-06-15 10:47:38+00:00,1537024024663891968,山本太郎って在日朝鮮人でしょう在日朝鮮人の言うことは嘘に決まってますよねえ,NaN,0.754675,1,0.628258,0,0.158441
313688,2022-06-15 10:48:05+00:00,1537024137914646528,休む権利は誰にもあるけど説明する責任からは逃れられない国会議員で国民の税金で生活されているの...,NaN,0.891638,0,0.000136,0,0.000429
...,...,...,...,...,...,...,...,...,...
1270614,2022-06-21 15:27:55+00:00,1539268887484993536,てか毒母の妨害なけりゃコントロール優秀だったんよなぁ妨害内容金無いんだから我慢して金無いのは...,NaN,0.348703,0,0.000101,0,0.000414
1454183,2022-06-21 15:27:58+00:00,1539268900051103745,七月期からこの枠テニプリなんだバカスポーツアニメのバトンじゃん,NaN,0.122777,0,0.000088,0,0.000099
211330,2022-06-21 15:30:12+00:00,1539269462075277312,男の子の脳みそは共感より解決脳って聞いた事あるけど…少しでも話を聞く姿勢が全く見られないしそ...,NaN,0.934876,0,0.332355,0,0.381940
1804339,2022-06-21 15:30:39+00:00,1539269575325278209,ぐ……ちっぽけな黒蟻にも劣る品性下劣な糞売女めが…………0話ヴァニラアイス,NaN,0.032031,0,0.203954,0,0.133759
1198821,2022-06-21 15:31:09+00:00,1539269701162872832,わかんないわかんないから勉強するんだろだからいつまで経ってもバカなんだよ,NaN,0.500512,0,0.000260,0,0.000152

In [20]:
# test = pd.concat([pd.read_csv("../input/top_user_reply.csv", index_col=0), pd.read_csv("../input/twitter_user_reply.csv", index_col=0)])
test = pd.read_csv("../input/top_user_reply.csv", index_col=0)
test = test[~test["full_text"].duplicated()].reset_index(drop=True)
test = test[~test["id_str"].duplicated()].reset_index(drop=True)
test.to_csv()

,id_str,full_text,label
0,1540245871153250304,@matsu_bouzu 松本人志さん！「#旭川いじめ #北海道 ＃いじめ ドキュメンタリ...,0
1,1538344689673588736,@matsu_bouzu 私も動きます,0
2,1525702177175482373,@matsu_bouzu 松本人志さん！[栃木事件 熱湯コマーシャルだ] https://t...,0
3,1524472159950700545,@matsu_bouzu 松本人志さん！「接種後、一時意識不明に…名古屋の40代男性“下半身...,0
4,1521390258608218114,@matsu_bouzu 俺の誕生日につぶやいてたんかいw,0
...,...,...,...
40985,1096563364954746881,@PQDFIeqsrejHlny @Becky_bekiko 芸能人だから隠しようがないし公...,0
40986,1096560267419279360,@Becky_bekiko あらま❗️おめでとうございます💛,0
40987,1096554943220088832,@isT0lwIH4xSRNC9 @YURIE58639433 『ベッキーはもう十分反省した...,0
40988,1096554204846379009,@1025_em @YURIE58639433 @Becky_bekiko その理論ならベッ...,0
40989,1096551564817268736,@Becky_bekiko みんな素直に祝福出来るの凄い。ゲスの元嫁さんの気持ちを考えたら心...,0

In [11]:
test = pd.read_csv("../input/twitter_user_reply.csv", index_col=0)
test = test[~test["full_text"].duplicated()].reset_index(drop=True)
test

                    id_str                                          full_text
0      1538344689673588736                                        @user私も動きます
1      1521390258608218114                              @user俺の誕生日につぶやいてたんかいw
2      1515246981798510594  @user言葉と絵を使って印象操作と修正作業興行師は何処に去ってしまったんでしょうね♨︎さる...
3      1488887523224870913                        @userぼくもです、、！紳助さん、大好きなんです！！
4      1487794953959124994                 @user本家ｷﾀﾜｧ━━━━━━(n'∀')η━━━━━━!!!!
...                    ...                                                ...
39452  1096563364954746881  @user@user芸能人だから隠しようがないし公表するしかないんだとおもう。どちらにしても...
39453  1096560267419279360                              @userあらま❗️おめでとうございます💛
39454  1096554943220088832             @user@user『ベッキーはもう十分反省した』これも貴方が言える立場か？
39455  1096554204846379009             @user@user@userその理論ならベッキーも人の幸せに水差してるが‥
39456  1096551564817268736    @userみんな素直に祝福出来るの凄い。ゲスの元嫁さんの気持ちを考えたら心から祝福出来ません。

[39457 rows x 2 columns]

In [ ]:
# @から始まるTwitterのユーザーID, リンクを置換
def preprocess(text: str):
    new_text = []
    for t in text.split(" "):
        t = '@user' if t.startswith('@') and len(t) > 1 else t
        t = 'http' if t.startswith('http') else t
        new_text.append(t)
    return " ".join(new_text)

def preprocess_wordcloud(doc): 
    # 改行除去
    doc = re.sub(r'\n+', ' ', doc) 
    # 数字を０に 
    doc = re.sub(r'\d+', '0', doc) 
    # メンション除去 
    doc = re.sub(r"@(\w+) ", "", doc) 
    # url除去 
    doc = re.sub(r"http\S+", "", doc)
    #リツイートを消す
    doc = re.sub(r"(^RT.*)", "", doc, flags=re.MULTILINE | re.DOTALL)
    # 大文字・小文字変換 
    doc = doc.lower() 
    #絵文字を消す
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"
        u"\U0001F300-\U0001F5FF"
        u"\U0001F680-\U0001F6FF"
        u"\U0001F1E0-\U0001F1FF"
    "]+", flags=re.UNICODE)
    doc = emoji_pattern.sub("", doc)
    # 不要記号削除
    pattern = '[!"#$%&\'\\\\()*+,-./:;<=>?@[\\]^_`{|}~「」〔〕“”◇ᴗ●↓→♪★⊂⊃※△□◎〈〉『』【】＆＊・（）＄＃＠。、？！｀＋￥％]' 
    doc = re.sub(pattern, ' ', doc) 
    return doc

df["text"] = df["text"].apply(preprocess_wordcloud)
df = df[df["text"]!=""].reset_index(drop=True)